body {
    color: #52616B;
    background-color: #F0F5F9;
  }

  .navbar-brand {
    color: #52616B;
    transition: color 0.3s ease;
  }

  .navbar-brand:hover {
    color: #3a4852;
  }

  .card {
    background-color: #C9D6DF;
  }

  * {
    border: 1px solid red;
  }